<template name="adelgazar">
  <div class="contenedor-g">
    <div class="mw">
    <br>
    <br>
    <br>
      <div class="f02">
        <h1 class="sinp sinm bordv w100 mb15">Moringa y la obesidad</h1>
      </div>
    <br><br>
    </div>
    <div class="w100 imgpc fot-obesi"></div> <!-- foto central -->
      <br>
    <div class="mw">
        <br>
        <p class="txtl">La obesidad es una condición en la que el exceso de grasa corporal
           se acumula hasta el punto de que la salud puede verse afectada negativamente.
            La obesidad es asociada a un número de problemas de salud crónicas como la
            diabetes, enfermedades del corazón, la hipertensión y el cáncer.
        <br><br>
        La prevalencia del sobrepeso y la obesidad está aumentando a un ritmo alarmante
        en los países desarrollados y en desarrollo alrededor del mundo. La obesidad
        implica una compleja interacción de factores genéticos, ambientales, psico-conductual,
        condiciones endocrinas y metabólicas, factores culturales y socioeconómicos.
         <br><br>
        Actualmente existe en el mercado, una gama de productos químicos farmacológicos
        utilizados para el tratamiento en la pérdida de peso corporal, pero estos suelen
        tener un costo elevado y además pueden traer efectos adversos donde puede verse
        comprometida la salud.
          <br><br>
          Por eso se recurre a la medicina natural, 100% orgánica, esto puede ser una excelente
          estrategia alternativa para el desarrollo de un futuro eficaz, seguro contra la obesidad.
          <br> Una variedad de productos naturales, pueden ayudar a reducir el peso corporal
          y prevenir la obesidad.
          <br><br>
          La planta de Moringa oleífera se utiliza comúnmente en la medicina tradicional como hierba
          medicinal para tratar la diabetes, esta planta es utilizada por los indígenas para tratar
          numerosas enfermedades. Las hojas de Moringa oleífera son utilizados por su efecto para disminuir
          los niveles de colesterol en sangre y de glicemia (azúcar en la sangre).
          <br><br>
          Un creciente cuerpo de evidencia indica que los productos naturales que tienen un efecto anti obesidad
          se pueden organizar en cinco categorías en función de sus distintos mecanismos; ellos pueden producir
          (1) disminución de la absorción de lípidos, (2) disminución de la la ingesta de energía, (3) aumento
          del gasto energético, (4) disminución de las células grasas o (5) la disminución de la producción de
          células grasas y el aumento de la quema de grasa.
          <br><br>
          La reducción de peso observada, como resultado del tratamiento con Moringa
          oleífera Se puede deber a la supresión de la utilización de la grasa de la dieta.
          Por lo tanto, la planta de Moringa tiene la capacidad de reducir la grasa del
          cuerpo y también la retención de las mismas.
         </p>
         <br><br>
         <p class="txt2 c3">Fuente
           <br><br>
              AHMED, Hanaa H., et al. Moringa oleifera offers a Multi-Mechanistic Approach for Management of Obesity in.
            </p>
        <br><br>
    </div>
  </div>
</template>
