<template name="carritoCompras">
  <div class="contenedor-g">
    <div class="mw">
      <br>
      <br>
      <br>
      <h1 class="bordv sinm sinp mb10">Mi carrito</h1>
       <div class="mitabla">
         <div class="cebecera-tabla f01 bg p5 sinm ">
           <div class="pro cb">Producto</div>
           <div class="preci cb">Precio</div>
           <div class="cant cb">Cantidad</div>
           <div class="total cb">Total</div>
         </div>
         <!-- esates una linea de producto con sus espécifiaciones -->
           <div class="item f01 bg3">
             <div class="producto-item f01 p10">
               <div class="p5">
                 <i class="fa fa-times-circle" aria-hidden="true"></i>
               </div>
               <div class="foto-produc">
                 <img src="" alt="">
               </div>
               <div class="nombre-producto">
                 <p>Moringa en capsulas</p>
               </div>
             </div>
             <div class="precio-item p10">0000.00$ </div>
             <div class="producto-cantidad p10"> <input type="number"> </div>
             <div class="producto-total p10">0000.00$</div>

             <div class="pie-tabla f01 p10">
               <button class="p10 cb btn-act-ca tr2">Actualizar carrito</button>
             </div>
           </div>
       </div>
       <br><br>
       <!-- ................................ -->
       <div class="tabla-peque bg3">
         <div class="fila-tabla-p  f01 jcsb">
           <div class="p15">
             <p>subtitulo del carrito</p>
           </div>
           <div class="p15">
             <p>000.00$</p>
           </div>
         </div>
         <div class="fila-tabla-p f01 jcsb">
           <div class="p15">
             <p>Gastos de envío</p>
           </div>
           <div class="p15">
             <p>000.00$</p>
           </div>
         </div>
         <div class="fila-tabla-p f01 jcsb">
           <div class="p15">
             <p>Total a pagar</p>
           </div>
           <div class="p15">
             <p>000.00$</p>
           </div>
         </div>
         <div class="fila-tabla-p">
           <div class="p15 txtr">
              <a href="facturacion"><button class="btn-act-ca p10 cb">Relizar comprar</button></a>
           </div>
         </div>
       </div>
       <!-- .............................................. -->
       <div class="p15 f02">
         <h1 class="titu-producto c5">Productos Recomendados</h1>
         <hr class="raya w100 sinm sinp">
         <div class="f01 linea-otros-p">
           <div class="p10 otros-p p15  f02">
             <div class="foto-otro-p w100 ">
               <img src="img/MhojasE.png" class="imgR" alt="">
             </div>
             <div class="tr2 detalles-otro-p bg8 w100 b p15">
               <p class="cb">Hojas de moringa en Polvo <br> Presentación frasco Mediano</p>
               <div class="f02 ver-mas ">
                 <h3 class="sinm sinp ">Ver más</h3>
               </div>
             </div>
           </div>
           <div class="p10 otros-p p15  f02">
             <div class="foto-otro-p w100 ">
               <img src="img/MhojasE.png" class="imgR" alt="">
             </div>
             <div class="tr2 detalles-otro-p bg8 w100 b p15">
               <p class="cb">Hojas de moringa en Polvo <br> Presentación frasco Mediano</p>
               <div class="f02 ver-mas ">
                 <h3 class="sinm sinp ">Ver más</h3>
               </div>
             </div>
           </div>
           <div class="p10 otros-p p15  f02">
             <div class="foto-otro-p w100 ">
               <img src="img/MhojasE.png" class="imgR" alt="">
             </div>
             <div class="tr2 detalles-otro-p bg8 w100 b p15">
               <p class="cb">Hojas de moringa en Polvo <br> Presentación frasco Mediano</p>
               <div class="f02 ver-mas ">
                 <h3 class="sinm sinp ">Ver más</h3>
               </div>
             </div>
           </div>
         </div>
         <br>
         <br>
         <br>
       </div>
    </div>
  </div>
</template>
