<template name="certificado">
  <div class="contenedor-g">
      <div class="mw">
    	<br>
    	<br>
    	<br>
    	<h1 class="bordv sinm sinp">Certificado y representación legal de cámara de comercio</h1>
    	<p class="p15 txtl c1">
    		La Empresa Moringa Products S.A.S. se encuentra legalmente constituida en Colombia, y registrada como persona jurídica bajo el NIT 900502521 - 5. Actualmente, puede verificarse en el Registro Único Empresarial y Social de las cámaras de comercio aquí <a class="p10" href="http://www.rues.org.co/RUES_Web/consultas/DetalleRM?codigo_camara=04&matricula=0002186311">http://www.rues.org.co/RUES_Web/consultas/DetalleRM?codigo_camara=04&matricula=0002186311</a>

			A continuación puede observarse el certificado de existencia y representación legal de la cámara de comercio

    	</p>
    	<div class="p15 w100">
    		<img src="img/RegistroInvima.jpg" alt="" class="imgR">
    	</div>
    	<br>

    	<br><br>
    </div>
  </div>
</template>
