<template name="codigoDeBarras">
  <div class="contenedor-g">
    <div class="mw">
      <h1>Registro de código de barras</h1>
      <br>
      <p class="txtl"> Las presentaciones comerciales disponibles en este momento han sido catalogadas
      en códigos de barra en el standar EAN (en Europa) y UPC(el resto del mundo), y siguen la siguiente numeración.</p>
      <br>

      <div class="tabla-cod-barra">
        <div class="tabla-barra-cabecera bg7 f01">
          <div class="cb presen-b p10 ">Presentación</div>
          <div class="cb pro-b p10 ">Producto</div>
          <div class="cb co-b p10 ">Código de barras</div>
        </div>
        <div class="linea-cod-barra f01 bg2">
          <div class="presentacion-barra f02">
            <p>Frasco pequeño</p>
          </div>
          <div class="producto-barra p10">
            <p>Moringa en polvo en cápsulas</p>
          </div>
          <div class="barra f02">
            <p>606110060493</p>
          </div>
        </div>
        <div class="linea-cod-barra f01 bg2">
          <div class="presentacion-barra f02">
            <p>Frasco pequeño</p>
          </div>
          <div class="producto-barra p10">
            <p>Moringa en polvo</p>
          </div>
          <div class="barra f02">
            <p>606110060509</p>

          </div>
        </div>
        <div class="linea-cod-barra f01 bg2">
          <div class="presentacion-barra f02">
            <p>Frasco mediano</p>
          </div>
          <div class="producto-barra p10">
            <p>Moringa en polvo</p>
          </div>
          <div class="barra f02">
            <p>606110060516</p>
          </div>
        </div>
        <div class="linea-cod-barra f01 bg2">
          <div class="presentacion-barra f02">
            <p>Frasco mediano</p>
          </div>
          <div class="producto-barra p10">
            <p>Hojas de moringa deshidratadas enteras para infusión de tipo "agua aromática", sabor natural</p>
          </div>
          <div class="barra f02">
            <p>606110060523</p>
          </div>
        </div>
        <div class="linea-cod-barra f01 bg2">
          <div class="presentacion-barra f02">
            <p>Frasco mediano</p>
          </div>
          <div class="producto-barra p10">
            <p>Hojas de moringa deshidratadas y maceradas enteras para infusión de tipo "té"</p>
          </div>
          <div class="barra f02">
            <p>606110060530</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="style">

  </div>
</template>
