<template name="conocenos">
  <div class="contenedor-g">
    <div class="mw">
    <br>
    <br>
    <br>
    	<div class="f02">
    		<h1 class="sinp sinm bordv w100 mb15">¿Quienes somos?</h1>
    	</div>
    	<p class="txtl">Desde nuestra fundación,  en el interior del país, hemos  trabajado en pro de garantizar la calidad del cultivo y la producción de la Moringa oleífera. Por mucho tiempo, fuimos grandes proveedores directos de semillas, pilones, hojas  y materia prima para la creación de diversos  productos  derivados de la planta.  
		Actualmente, hemos lanzado nuestra propia gama de medicamentos y complementos nutricionales naturales de alta gama.
		Logrando que Moringa Life se haya convertido en una de las empresas colombianas más calificadas para el cultivo y comercialización de la planta Moringa Oleífera y sus derivados: Cápsulas, Polvo, Té y Merengadas.</p>
		<br><br>
    </div>
    <div class="w100 imgpc fot-con"></div> <!-- foto central -->
    	<br>
    <div class="mw">
    	<div class="p15 uso-delp">
          <div class="f01 sub-titu-linea">
            <h3 class="sinm sinp txtl c5" style="flex:0 0 160px;">Nuestra visión</h3>
            <hr class="raya bord">
          </div>
          <br>
          <p class="txtl">Ser líderes a nivel nacional e internacional  en el cultivo, producción y  comercialización de productos derivados de la planta Moringa Oleífera, encaminados al fortalecimiento de los estándares de salud de colombianos y extranjeros, mejorando así la calidad de vida de todas las personas que consuman nuestro producto.</p>
        </div>
        <br>
        <div class="p15 uso-delp">
          <div class="f01 sub-titu-linea">
            <h3 class="sinm sinp txtl c5" style="flex: 0 0 160px;">Nuestra visión</h3>
            <hr class="raya bord">
          </div>
          <br>
          <p class="txtl">Ayudar a mejorar y prolongar la salud de todos nuestros consumidores a través de productos alimenticios, vitamínicos  y medicinales, y promover alternativas de inversión a pequeños, medianos y grandes empresas;  mediante la distribución de nuestros productos nacional e internacionalmente.</p>
        </div>
        <br><br>
    </div>
  </div>
</template>
