<template name="dondeComprar">
  <div class="contenedor-g">
    <div class="mw">
      <br><br>

      <h1>¿Donde comprar?</h1>
      <p class="c1 txtl"> Usted también puede encontrar sus productos de MORINGA LIFE en la red de distribuidores. En el siguiente mapa, puede usted ingresar su ubicación geográfica, y el sistema le mostrará los lugares de distribución más cercanos a usted:</p>
    </div>
    <br><br>
    <div class="w100 " style="height:50vh;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1475952.241489946!2d-73.22692395721076!3d6.9237245477461915!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sve!4v1465524402790" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
    <br><br>
    <div class="MW">
      <h3 class="c1">Tienda</h3>
      <h3 class="c1">Dirección</h3>
      <h3 class="c1">Horario de atención</h3>
    </div>
  </div>
</template>
