<template name="estimulante">
  <div class="contenedor-g">
    <div class="mw">
    <br>
    <br>
    <br>
    <div class="mw">
      <p class="txt1">

      </p>
    </div>
    	<div class="f02">
    		<h1 class="sinp sinm bordv w100 mb15">Hablemos de moringa</h1>
    	</div>
		<br><br>
    </div>
    <div class="w100 imgpc fot-mori"></div> <!-- foto central -->
    	<br>
      <div class="mw">
          <br>
          <p class="txtl">
          La Moringa Oleífera es un árbol originario del sur del Himalaya, que
          se ha extendido a otras partes de India, Bangladesh, Afganistán, Pakistán,
          Sri Lanka, sudeste asiático, Asia Occidental, Península Arábica, África
          del Este y del Oeste, sur de la Florida, Caribe, Centroamérica y gran
          parte de América del Sur.  En América tropical se cultiva generalmente
          como planta ornamental, se cree que fue llevada de la India a África por
          los ingleses e introducida al Caribe por los franceses y de allí a Centroamérica.
          <br><br>
          Es una de las plantas que más utilidad tiene en el mundo, que crece
          rápidamente y alcanza una altura hasta unos 10-12 metros, de la cual se
          aprovecha prácticamente todo. Se cultiva en muchos países tropicales para
          la alimentación humana y animal, en la que se obtienen buenos resultados
          en la producción avícola, porcina, ovina, caprina, de carnes, huevos y
          leche, así como para su uso como medicamento y para la purificación del
          agua. Posee un alto contenido de proteínas, vitaminas y minerales y ofrece
          una amplia variedad de productos alimenticios ya que todas las partes de
          la planta son comestibles: las vainas verdes, las hojas, las flores, las
          semillas y las raíces.
          <br><br>
          Las hojas frescas de moringa tienen grandes cualidades nutritivas: más
          vitamina A que las zanahorias, más vitamina C que las naranjas, más
          calcio que la leche, más potasio que el plátano, más hierro que la
          espinaca y más proteína que ningún otro vegetal.  También son muy
          apetecidas, con ellas se pueden preparar infusiones, ensaladas verdes,
          pastas para bocaditos, salsas, sopas o cremas, guisos, arroz salteado,
          frituras, y aliños en general. Pueden ser mezcladas con jugos o cocteles
          de frutas, con diferentes platos de huevo y en el puré de los niños,
          entre otras variantes, lo cual enriquecería notablemente el valor nutricional
          en cuanto a proteínas, vitaminas y minerales de dichos alimentos.
          <br><br>
          Estas hojas pueden secarse a la sombra y conservarse enteras o molidas.
          En esta última variante, el polvo permanece por meses sin perder sus
          propiedades, además de que resulta útil para ser usado como condimento
          o ser añadido a sopas, caldos y jugos, entre otros.
           </p>
           <br><br>
           <p class="txt2 c3">Fuente
             <br><br>
             Bonal Ruiz Rolando, Rivera Odio Regina Mercedes, Bolívar Carrión María
             Emilia. Moringa oleifera: una opción saludable para el bienestar. MEDISAN
             [Internet]. 2012  Oct [citado  2016  Mayo  29] ;  16( 10 ): 1596-1599.
              </p>
          <br><br>
      </div>
  </div>
</template>
