<template name="facturacion">
  <div class="contenedor-g">
    <div class="mw">
      <h1>Facturación</h1>

      <div class="p10 entrada   f01">
        <div class="formulario-fact">
          <form action="" class="f01">
            <div class="f01">
              <div class="entrada f02 p5 w5">
                <label for="">Nombre</label>
                <input class="w10" type="text" name="nombre">
              </div>
              <div class="entrada f02 p5 w5">
                <label for="">Apellido</label>
                <input class="w10" type="text" name="nombre">
              </div>
              <div class="entrada f02 p5 w7">
                <label for="">Dirección</label>
                <input class="w10" type="text" name="nombre">
              </div>
              <div class="entrada f02 p5 w3">
                <label for="">Código postal</label>
                <input class="w10" type="text" name="nombre">
              </div>
              <div class="entrada f02 p5 w5">
                <label for="">Estado/País</label>
                <input class="w10" type="text" name="nombre">
              </div>
              <div class="entrada f02 p5 w5">
                <label for="">Localidad/ciudad</label>
                <input class="w10" type="text" name="nombre">
              </div>
              <div class="entrada f02 p5 w5">
                <label for="">Dirección de Email</label>
                <input class="w10" type="text" name="nombre">
              </div>
              <div class="entrada f02 p5 w5">
                <label for="">Teléfono</label>
                <input class="w10" type="text" name="nombre">
              </div>
              <div class="entrada f02 p5 w10">
                <label for="">Nombre</label>
                <textarea name="name" rows="8" cols="40"></textarea>
              </div>
            </div>

          </form>
        </div>
        <div class="indicaciones">
          <div class="f01 sub-titu-linea">
            <h3 class="sinm sinp txtl c5" style="flex:0 0 150px;">Instrucciones</h3>
            <hr class="raya bord">
          </div>
          <p class="txtl">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</p>
        </div>
        <div class=" w10" >
          <div class="f01 sub-titu-linea">
            <h3 class="sinm sinp txtl c5" style="flex:0 0 60px;">Pago</h3>
            <hr class="raya bord">
          </div>
        </div>
        <div class=" w100 txtl">
          <p class="txtl txtl" >En esta modalidad puede usted usar un método de pago en línea mediante el istema seguro PSE </p>
          <br>
            <!-- seleccion del metodo de pago -->
          <strong>
            <p>Elegir medio de pago</p>
          </strong>
          <div class="f01" style="justify-content: flex-start;">
            <div class="f01 p10">
              <input class="p10" type="radio" name="name" value="" ><p>Tarjeta de crédito</p>
            </div>
            <div class="f01 p10">
              <input type="radio" name="name" value="" class="p10"><p>Tarjeta de débito</p>
            </div>
            <div class="f01 p10">
              <input type="radio" name="name" value="" class="p10"><p>Consignación bancaria</p>
            </div>
          </div>
          <!-- si es por tarjeta de crédito -->
          <div class="campos p10 entrada  ">
              <div class="p10 entrada  w10">
                <label for="">Número de tarjeta de crédito</label>
                <input type="number">
              </div>
              <div class="p10 entrada  f01 w10 " style="justify-content:flex-start;">
                <label for="" class="w10 txtl">fecha de vencimiento</label>
                <select class="p5" name="">
                  <option value="MEs">Mes</option>
                </select>
                <select class="p5" name="">
                  <option value="año">Año</option>
                </select>
              </div>
              <div class="p10 entrada  w10">
                <label for="">últimos tres números del dorso</label>
                <input type="number" class="w3">
              </div>
              <div class="p10 entrada  w10">
                <label for="">Nombre y apellido del titular</label>
                <input type="text" class="w3"><input type="text" class="w3">
              </div>
              <div class="p10 entrada  w10">
                <label for="">Documento</label>
                <select class="" name="">
                  <option value=" cc">C.C</option>
                </select>
                <select class="" name="">
                  <option value=" cc">C</option>
                </select>
                <input type="text">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style media="screen">

    .entrada {align-items: flex-start;}
    .entrada label{font-size: .9em;}
    .entrada input,textarea{cursor: pointer; resize: none;padding: 10px; border: 1px solid #d1d1d1;background-color: rgba(255, 255,255, 0.5);}
    .entrada input:focus{;background-color: rgba(255, 255,255, 1);}
    .entrada input:hover{;background-color: rgba(255, 255,255, 1);}
    .entrada textarea:hover{;background-color: rgba(255, 255,255, 1);}
    .w5{width: 50%;}
    .w7{width: 70%;}
    .w3{width: 30%;}
    .w10{width: 100%;}

  </style>
</template>
