<template name="footerArea">
    <div class="cont-footer w100">
        <div class="p15 suscribete f02 imgpc">
        <div class="sombra w100 h100"></div>
        <div class="cont-sus f02">
            <h1 class=" cb sinp sinm tnio2 txtc">¡Reciba información al instante!</h1>
            <h3 class="cb txtc mb15">Esté al tanto de toda la información que Moringa Life tiene para usted, <br> entérese de todo y no se pierda ni un sólo detalle. </h3>
            <form action="" class="f01 p15 mb15 bg5">
                <input class="p15 inp" type="text" name="name" value="" placeholder="Escribe tu correo">
                <input class="p15 btn2" type="button" name="name" value="Susribirme">
            </form>
        </div>
        </div>
        <div class="f01 footer  p15">

            <!-- logo -->
          <div class="footer-c fc01 p15 f02">
              <div class="logo-f p15">
                  <img class="imgR" src="img/logo.svg" alt="">
              </div>
            <p class="c4 p10">TODOS LOS DERECHOS RESERVADOS<br>
            © Moringa Products S.A.S. 2016</p>
          </div>

          <!-- Redes sociales  -->
          <div class="footer-c p15 f02">
              <h1 class="sinm sip c4 ">Síguenos</h1>
            <div class=" sinm f01 sinp">
                <a class="f02" href="" ><div class="redes-sociales c4 f02"><i class="fa fa-facebook-official" aria-hidden="true"></i></div></a>
                <a class="f02" href="https://twitter.com/mooringalife" target="_blank" ><div class="redes-sociales c4 f02"><i class="fa fa-twitter" aria-hidden="true"></i></div></a>
                <a class="f02" href=""><div class="redes-sociales c4 f02"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
            </div>
          </div>

          <!-- telefono -->
          <div class="footer-c fc03 p15">
              <strong><p class="c4 mb5" ><i class="fa fa-phone p10" aria-hidden="true"></i> +573502468034</p></strong>
              <strong><p class="c4 mb5" ><i class="fa fa-envelope p10" aria-hidden="true"></i> info@moringa-oleifera.net</p></strong>
              <strong><p class="c4 mb5" ><i class="fa fa-map-marker p10" aria-hidden="true"></i> Colombia-Bogotá</p></strong>
          </div>
        </div>
    </div>
</template>
