<template name="headerArea">
  <div class="cabeza f01 ">
    <div class="logo ">
      <a class="tr2 logoN " href="/"> <img src="img/logob.svg" class="imgR " alt=""></a>
      <a class="tr2 logomf p5 oculta-logo-fino" href="/"> <img src="img/logomf.svg"  alt=""></a>
    </div>
    <nav class="">
      <!-- Boton para menu en teléfonos -->
      <div class="btn-activa-menu">
        <h1 class="sinp txtr"><i class="fa fa-bars" aria-hidden="true"></i></h1>
      </div>
      <!-- Aquí comienza el menú -->
        <ul class="f01 menu-main tr2 oc-menu ro">
            <li>
              <a class="cb p5 w100 mp">Nuestros productos <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
              <ul class=" submenu tr2">
                <a class="tr2" href="/hojasEnBolsa"><li class="p5 subI">Hojas en Bolsa</li></a>
                <a class="tr2" href="/hojasEnFrasco"><li class="p5 subI">Hojas en Frasco</li></a>
                <a class="tr2" href="/hojasTrituradasEnBolsa"> <li class="p5 subI">Hojas Trituradas en Bolsa</li></a>
                <a class="tr2" href="/hojasTrituradasEnFrasco"> <li class="p5 subI">Hojas Trituradas Frasco</li></a>
                <a class="tr2" href="/hojasTrituradasEnTizana"> <li class="p5 subI">Hojas Trituratas en Tisana</li></a>
                <a class="tr2" href="/hojasPulverizadasEnBolsa"> <li class="p5 subI">Hoja Pulverizada en Bolsa</li></a>
                <a class="tr2" href="/hojasPulverizadasEnFrascoPequenio"> <li class="p5 subI">Hoja Pulverizada en Frasco Pequeño</li></a>
                <a class="tr2" href="/hojasPulverizadasEnFrascoMediano"> <li class="p5 subI">Hoja Pulverizada en Frasco Mediano</li></a>
                <a class="tr2" href="/hojasPulverizadasEnCapsulas"> <li class="p5 subI">Hoja Pulverizada en Capsula Pura,Fórmula magistral</li></a>
              </ul>
            </li>
            <li>
              <a class="cb p5 w100  mp" href="#">¿ Cómo usar la moringa ? <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
              <ul class="submenu tr2">
                 <a class="tr2" href="/tratamientoDiabeticos"> <li class="p5 subI">Tratamiento  para Diabéticos</li></a>
                 <a class="tr2" href="/adelgazar"><li class="p5 subI">Tratamiento  para Adelgazar</li></a>
                 <a class="tr2" href="/subirDePeso"><li class="p5 subI">Tratamiento  para Subir de Peso</li></a>
                 <a class="tr2" href="/estimulante"><li class="p5 subI">Moringa como Estimulante</li></a>
              </ul>
            </li>
              <li><a href="/articulos" class="cb p1 mp">Salud y estilo de vida</a></li>
            <li>
              <!-- <a class="cb p5 w100" href="#">Róles Intereses Personales <i class="fa fa-chevron-down" aria-hidden="true"></i></a> -->
              <a href="/conocenos" class="cb p1 tr2 mp">¿ Quienes somos ? </a>
              <ul class=" tr2">
                <!-- <li>Consumidor</li>
                <li>Distribuidor en Colombia (Implica Registro)</li>
                <li>Importador / Distribuidor en otros Paises</li>
                <li>Médicos / Visitadores Médicos (Implica registro)</li>
                <li>Interno Mercadeo</li> -->
              </ul>
            </li>
            <li>
              <a  href="" class="cb p1 tr2 mp">¿ Dónde comprar ?</a>
              <!-- <a class="cb p5 w100" href="#">Red de Distribución <i class="fa fa-chevron-down" aria-hidden="true"></i></a>-->
              <ul class="submenu tr2">
                <a href="/carritoCompras"><li class="p5 subI tr">Directo Carrito de Compras  y pagos en linea</li></a>
                <a class="tr2" href="/dondeComprar"><li class="p5 subI">¿En qué Lugares puedo Comprar?</li></a>
              </ul>
            </li>
            <li>
              <a class="cb p5 w100 mp" href="#">Información legal <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
              <ul class="submenu tr2">
                <a class="tr2" href="/registroSanitario"><li class="p5 subI">Registro Sanitario</li></a>
                <a class="tr2" href="/codigoDeBarras"><li class="p5 subI">Código de Barras</li></a>
                <a class="tr2" href="/certificado"><li class="p5 subI">Certificado de Existencia y Representación Legal de Cámara de Comercio</li></a>
                <a class="tr2" href="/restricciones"><li class="p5 subI">Restricciones legales </li></a>
              </ul>
            </li>

            <!-- <li> -->
              <!-- <a class="cb p5 w100" href="#">Académico <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
              <ul class="submenu tr2">
                <li>Artículos científicos</li>
                <li>Resultados de análisis de Laboratorio
                    <ul>
                      <li>Bromatología y aminograma</li>
                      <li>Tabla de Información nutricional</li>
                    </ul> -->
                <!-- </li>
              </ul>
            </li>
            <li><a href="" class="p5 btn">Preguntas Frecuentes</a></li> -->
        </ul>
    </nav>
    <div class="p5 f01 sesion" >
      <div class="p5 sesionB" >
        <p class="cb p5">Iniciar sesión</p>
      </div>
      <div class="p5 registrarA">
        <p class="cb p5 rg">Registrarse</p>
      </div>
    </div>
  </div>

  <!-- ======================================
        Aquí comienza el modal de registro
      ======================================-->
      <div class="cont-modal-sombra f02 bg7 ">
        <div class="cierra-modal">
          <h1 class="sinm sinp"><i class="fa fa-times-circle-o" aria-hidden="true"></i></h1>
        </div>
        <div class="cont-resgistro-sesion f02">
          <div class="cont-sesion-a p15 f02">
              <div class="cont-sesion-aa">
                <div class="sesionC f02 p10">
                    <img src="img/Isotipo.svg" alt="">
                    <p class="cb p10 txtc">Iniciar sesión</p>
                    <input class="inp-sesion mi-inp" type="text" name="name" value="">
                    <input class="inp-sesion mi-inp" type="password" name="name" value="">
                    <button type="submit" class="btn btn-entrar-sesion tr2 p10 mb10"> Entrar</button>
                    <a href=""><small class="c6">¿Olvido su contraseña?</small></a>
                </div>
              </div>
          </div>

          <div class="f01 p15 cont-modal cerrar">
            <div class="texto-modal f02 p15">
              <h1 class="cb sinm sinp mb10">¡Disfrúte de nuestros servios!</h1>
                <h3 class="cb sinm sinp">Registrese y forme parte de la familia Moringa Life, obtenga los mejores beneficios:</h3>
                <ul class="p15">
                <li class="p10 cb"><i class="fa fa-check" aria-hidden="true"></i> Compras en línea</li>
                <li class="p10 cb"><i class="fa fa-check" aria-hidden="true"></i> Información sobre nuestros productos vía correo electrónico</li>
                <li class="p10 cb"><i class="fa fa-check" aria-hidden="true"></i> Descuentos</li>
                <li class="p10 cb"><i class="fa fa-check" aria-hidden="true"></i> Información especial y asesorías de cómo aprovechar al máximo la Moringa</li>
              </ul>
            </div>
            <div class="modal bgw p10">
              <div class="f01" style="justify-content:flex-end; ">
                <p class="txtr db p10">¿Ya esta registrado? </p><a href="" class="p10 acceda"> Acceda aquí</a>
                </div>
              <h2 class="bordv sinp sinm w100 txtc mb10 c1">Registrese</h2>
              <form action="" class="f01">
                <div class="p10 mb10">
                  <input type="text" class="mi-inp inp-r tr2" placeholder="Nombre">
                  <input type="text" class="mi-inp inp-r tr2" placeholder="Apellido">
                  <input type="text" class="mi-inp inp-r tr2" placeholder="Correo">
                  <input type="text" class="mi-inp inp-r tr2" placeholder="Contraseña">
                </div>

                <button type="submit" class="p10 btn mb10"> Continuar </button>

              </form>
            </div>
          </div>
        </div>
      </div><!-- Aqui termina el modal -->

      <style media="screen">

      </style>
  </template>
