<template name="headerArea">
  <div class="header-container">
      <header class="wrapper clearfix">
          <div class="logo p15">
              <img src="img/logo.svg" class="imgR p15" alt="">
          </div>
          <nav class="bg2">
              <ul class="f01 menu-main">
                  <li><a class="btn p10 w100" href="#">Productos</a></li>
                  <li><a class="btn p10 w100" href="#">Conócenos</a></li>
                  <li><a class="btn p10 w100" href="#">Artículos</a></li>
                  <li><a class="btn p10 w100" href="#">Usos</a></li>
                  <li><a class="btn p10 w100" href="#">Legal</a></li>
                  <li><a class="btn p10 w100" href="#">Donde Comprar</a></li>
              </ul>
          </nav>
      </header>
  </div>
</template>

<template name="loginDropDownMenuItem">
</template>
