<template name="hojasTrituradasEnTizana">
  <div class="contenedor-g">
    <div class="mw">
    <br>
    <br>
    <br>
      <div class="p15 w100 f01 algs">
        <div class=" foto-producto ">
            <img src="img/PHP.png" alt="">
        </div>
        <div class="p10 texto-producto">
          <h1 class="titu-producto sinm sinp c5">Hojas de moringa trituradas para infusión</h1>
          <p class="p10 txtl"> <strong>Presentación tisana</strong></p>
          <hr class="sinp">
          <!-- ................................. -->
          <br>
          <p class="txtl">Caja con 20 sobre de 0g de hojas de moringa deshidratadas enteras para infusión.</p><br>
          <ul class="sinp f02 milista">
            <li><i class="c4 fa fa-check-circle-o" aria-hidden="true"></i> Poderoso antioxidante.</li>
            <li><i class="c4 fa fa-check-circle-o" aria-hidden="true"></i> Proveedor de vitaminas y minerales.</li>
            <li><i class="c4 fa fa-check-circle-o" aria-hidden="true"></i> Hoja natural de moringa.</li>
            <li><i class="c4 fa fa-check-circle-o" aria-hidden="true"></i> Producto libre de aditivos químicos, conservantes y pesticidas.</li>
          </ul>
          <br>
          <div class="w100 ">
          <form action="" class="f01" style="justify-content:flex-start;">
             <div class="p10 ctd">
                <input type="number" class="p10  bordv w100" placeholder="01">
            </div>
            <div class="p10">
                <input type="submit" class="p10 btn2 tr" value="Añadir a carrito">
            </div>
          </form>
          </div>
        </div>
      </div>

      <div class="p15 f01 algs">
        <div class="p15 des-crip">
          <div class="f01 sub-titu-linea">
            <h3 class="sinm sinp txtl c5">Descripción del producto</h3>
            <hr class="raya bord">
          </div>
          <br>
          <p class="txtl">Nuestra caja con bolsitas individuales contienen 20 tisanas de hoja de
            Moringa Life triturada para preparar Té y tiene una duración de 20 días como dosis de
            ingesta para un adulto.<br><br>

        La infusión de Moringa Life es un revitalizante y energizante natural y no contiene cafeína,
         lo cual significa que puede ser disfrutado por cualquier miembro de la familia. Sustituyendo
          las diferentes bebidas azucaradas, que contienen aditivos químicos y altas cantidades de
           azúcar refinada, las cuales tienen un efecto negativo en la salud, por esta agua aromática
            que garantiza un sinfín de beneficios a nuestro cuerpo. </p>
        </div>
        <div class="p15 uso-delp">
          <div class="f01 sub-titu-linea">
            <h3 class="sinm sinp txtl c5">Usos del producto</h3>
            <hr class="raya bord">
          </div>
          <br>
          <p class="txtl">5 tisanas al día. Servir 1 tisana en 1 taza de agua. No hervir la
            tisana de Moringa junto con el agua, ya que estas pueden perder nutrientes en altas
            temperaturas. Primero se debe hervir el agua y luego agregar la tisana al agua caliente
             y déjala reposar unos 3- 5 minutos para que las hojas puedan soltar los nutrientes en
              el agua caliente, agregar limón o miel si lo desea.</p>
        </div>
      </div>

      <div class="p15 f02">
        <h1 class="titu-producto c5">Productos Recomendados</h1>
        <hr class="raya w100 sinm sinp">
        <div class="f01 linea-otros-p">
          <div class="p10 otros-p p15  f02">
            <div class="foto-otro-p w100 ">
              <img src="img/MhojasE.png" class="imgR" alt="">
            </div>
            <div class="tr2 detalles-otro-p bg8 w100 b p15">
              <p class="cb">Hojas de moringa en Polvo <br> Presentación frasco Mediano</p>
              <div class="f02 ver-mas ">
                <h3 class="sinm sinp ">Ver más</h3>
              </div>
            </div>
          </div>
          <div class="p10 otros-p p15  f02">
            <div class="foto-otro-p w100 ">
              <img src="img/MhojasE.png" class="imgR" alt="">
            </div>
            <div class="tr2 detalles-otro-p bg8 w100 b p15">
              <p class="cb">Hojas de moringa en Polvo <br> Presentación frasco Mediano</p>
              <div class="f02 ver-mas ">
                <h3 class="sinm sinp ">Ver más</h3>
              </div>
            </div>
          </div>
          <div class="p10 otros-p p15  f02">
            <div class="foto-otro-p w100 ">
              <img src="img/MhojasE.png" class="imgR" alt="">
            </div>
            <div class="tr2 detalles-otro-p bg8 w100 b p15">
              <p class="cb">Hojas de moringa en Polvo <br> Presentación frasco Mediano</p>
              <div class="f02 ver-mas ">
                <h3 class="sinm sinp ">Ver más</h3>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>

  </div>
</template>
