<template name="hojasEnFrasco">
  <div class="contenedor-g">
    <div class="mw">
    <br>
    <br>
    <br>
      <div class="p15 w100 f01 algs">
        <div class=" foto-producto ">
            <img src="img/PHP.png" alt="">
        </div>
        <div class="p10 texto-producto">
          <h1 class="titu-producto sinm sinp c5">Hojas de moringa enteras y deshidratadas para agua aromática</h1>
          <p class="p10 txtl c1"> <strong>Presentación frasco mediano</strong></p>
          <hr class="sinp">
          <!-- ................................. -->
          <br>
          <p class="txtl c1">Frasco mediano de 200 g. de hojas de moringa deshidratadas enteras para infusión de tipo "agua aromática".</p><br>
          <br>
          <div class="w100 ">
          <form action="" class="f01" style="justify-content:flex-start;">
             <div class="p10 ctd">
                <input type="number" class="p10  bordv w100" placeholder="01">
            </div>
            <div class="p10">
                <input type="submit" class="p10 btn2 tr" value="Añadir a carrito">
            </div>
          </form>
          </div>
        </div>
      </div>

      <div class="p15 f01 algs">
        <div class="p15 des-crip">
          <div class="f01 sub-titu-linea">
            <h3 class="sinm sinp txtl c5">Descripción del producto</h3>
            <hr class="raya bord">
          </div>
          <br>
          <p class="txtl c1">Nuestro frasco mediano contiene 200 g. de hojas de moringa deshidratadas enteras para infusión de tipo "agua aromática" y tiene una duración de 40 días como dosis de ingesta para un adulto.<br><br>

           El agua aromática de Moringa Life es un revitalizante y energizante natural y no contiene cafeína, lo cual significa que puede ser disfrutado por cualquier miembro de la familia. Sustituyendo las diferentes bebidas azucaradas, que contienen aditivos químicos y altas cantidades de azúcar refinada, las cuales tienen un efecto negativo en la salud, por esta agua aromática que garantiza un sinfín de beneficios a nuestro cuerpo.
        </p>
        </div>
        <div class="p15 uso-delp">
          <div class="f01 sub-titu-linea">
            <h3 class="sinm sinp txtl c5">Usos del Producto</h3>
            <hr class="raya bord">
          </div>
          <br>
          <p class="txtl c1">5 cucharadas al día. Servir 1 cucharada en 1 taza de agua. No hervir las hojas de Moringa junto con el agua, ya que estas pueden perder nutrientes en altas temperaturas. Primero se debe hervir el agua y luego agregar las hojas al agua caliente y déjala reposar unos 3 - 5 minutos para que las hojas puedan soltar los nutrientes en el agua caliente. Remueve las hojas sobrantes con un colador y agrega limón o miel a tu té si lo deseas. Se recomienda consumir 5 tazas al día.</p>
        </div>
      </div>
      <div class="p15 f02">
        <h1 class="titu-producto c5">Productos Recomendados</h1>
        <hr class="raya w100 sinm sinp">
        <div class="f01 linea-otros-p">
          <div class="p10 otros-p p15  f02">
            <div class="foto-otro-p w100 ">
              <img src="img/MhojasE.png" class="imgR" alt="">
            </div>
            <div class="tr2 detalles-otro-p bg8 w100 b p15">
              <p class="cb">Hojas de moringa en Polvo <br> Presentación frasco Mediano</p>
              <div class="f02 ver-mas ">
                <h3 class="sinm sinp ">Ver más</h3>
              </div>
            </div>
          </div>
          <div class="p10 otros-p p15  f02">
            <div class="foto-otro-p w100 ">
              <img src="img/MhojasE.png" class="imgR" alt="">
            </div>
            <div class="tr2 detalles-otro-p bg8 w100 b p15">
              <p class="cb">Hojas de moringa en Polvo <br> Presentación frasco Mediano</p>
              <div class="f02 ver-mas ">
                <h3 class="sinm sinp ">Ver más</h3>
              </div>
            </div>
          </div>
          <div class="p10 otros-p p15  f02">
            <div class="foto-otro-p w100 ">
              <img src="img/MhojasE.png" class="imgR" alt="">
            </div>
            <div class="tr2 detalles-otro-p bg8 w100 b p15">
              <p class="cb">Hojas de moringa en Polvo <br> Presentación frasco Mediano</p>
              <div class="f02 ver-mas ">
                <h3 class="sinm sinp ">Ver más</h3>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</template>
