<template name="hojasPulverizadasEnFrascoPequenio">
  <div class="contenedor-g">
    <div class="mw">
    <br>
    <br>
    <br>
      <div class="p15 w100 f01 algs">
        <div class=" foto-producto ">
            <img src="img/PHP.png" alt="">
        </div>
        <div class="p10 texto-producto">
          <h1 class="titu-producto sinm sinp c5">Hojas de moringa en polvo </h1>
          <p class="p10 txtl"> <strong>Presentación frasco pequeño</strong></p>
          <hr class="sinp">
          <!-- ................................. -->
          <br>
          <p class="txtl">Frasco pequeño de 50 g. de polvo de hoja de Moringa.</p><br>
          <ul class="sinp f02 milista">
            <li><i class="c4 fa fa-check-circle-o" aria-hidden="true"></i> Poderoso antioxidante.</li>
            <li><i class="c4 fa fa-check-circle-o" aria-hidden="true"></i> Proveedor de vitaminas y minerales.</li>
            <li><i class="c4 fa fa-check-circle-o" aria-hidden="true"></i> Hoja natural de Moringa.</li>
            <li><i class="c4 fa fa-check-circle-o" aria-hidden="true"></i> Producto libre de aditivos químicos, conservantes y pesticidas.</li>
          </ul>
          <br>
          <div class="w100 ">
          <form action="" class="f01" style="justify-content:flex-start;">
             <div class="p10 ctd">
                <input type="number" class="p10  bordv w100" placeholder="01">
            </div>
            <div class="p10">
                <input type="submit" class="p10 btn2 tr" value="Añadir a carrito">
            </div>
          </form>
          </div>
        </div>
      </div>

      <div class="p15 f01 algs">
        <div class="p15 des-crip">
          <br>
          <p class="txtl">Nuestro frasco pequeño contiene 50 g de polvo de Moringa Life y tiene una duración de 5 días como dosis de ingesta para un adulto<br><br>

            El polvo de Moringa Life provee vitaminas y antioxidantes.
 <br><br>

            Nuestras cápsulas contienen 500 mg de polvo puro y orgánico de hojas de
            Moringa deshidratadas, no contienen aditivos químicos, que son perjudiciales
            para la salud. Es un excelente complemento de la dieta diaria, este increíble
            superalimento es una buena fuente de nutrientes y poderosos antioxidantes,
            ideal para las personas que se preocupan por su salud. Es conocida como una
            de las plantas más útiles, por ser una planta rica y portadora de nutrientes
            esenciales para el consumo humano, la planta de Moringa provee proteínas,
            vitaminas y minerales naturales para acompañar tu dieta, brindarte bienestar
            y comenzar tu día con mucha energía.</p>
        </div>
        <div class="p15 uso-delp">
          <div class="f01 sub-titu-linea">
            <h3 class="sinm sinp txtl c5">Usos del Producto</h3>
            <hr class="raya bord">
          </div>
          <br>
          <p class="txtl">Media cucharadita de polvo de Moringa Life en licuados, jugos o smoothies. También puede espolvorearse en caldos, sopas, ensaladas y cremas para darle más variedad de nutrientes a tus comidas.</p>
        </div>
      </div>
      <div class="p15 f02">
        <h1 class="titu-producto c5">Productos Recomendados</h1>
        <hr class="raya w100 sinm sinp">
        <div class="f01 linea-otros-p">
          <div class="p10 otros-p p15  f02">
            <div class="foto-otro-p w100 ">
              <img src="img/MhojasE.png" class="imgR" alt="">
            </div>
            <div class="tr2 detalles-otro-p bg8 w100 b p15">
              <p class="cb">Hojas de moringa en Polvo <br> Presentación frasco Mediano</p>
              <div class="f02 ver-mas ">
                <h3 class="sinm sinp ">Ver más</h3>
              </div>
            </div>
          </div>
          <div class="p10 otros-p p15  f02">
            <div class="foto-otro-p w100 ">
              <img src="img/MhojasE.png" class="imgR" alt="">
            </div>
            <div class="tr2 detalles-otro-p bg8 w100 b p15">
              <p class="cb">Hojas de moringa en Polvo <br> Presentación frasco Mediano</p>
              <div class="f02 ver-mas ">
                <h3 class="sinm sinp ">Ver más</h3>
              </div>
            </div>
          </div>
          <div class="p10 otros-p p15  f02">
            <div class="foto-otro-p w100 ">
              <img src="img/MhojasE.png" class="imgR" alt="">
            </div>
            <div class="tr2 detalles-otro-p bg8 w100 b p15">
              <p class="cb">Hojas de moringa en Polvo <br> Presentación frasco Mediano</p>
              <div class="f02 ver-mas ">
                <h3 class="sinm sinp ">Ver más</h3>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</template>
