<template name="home">
  <div class="contenido-home">
    <div class="video h100">
      <div class="capa-sombra"></div>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ao70AgQI5wg" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="h100 bg4 p15 sec-02 imgpc f02">
      <div class="titu-m ">
        <h1 class="c1">Moringa Life </h1>
        <h2 class="c1">¡Te cuida, te entiende, te atiende!</h2>
        <div class="p15 " style="max-width:900px;">
          <h4 class="c1 sinp" styel="max-width:350px; display:block;">La madre naturaleza nos ha dotado de un sin fin de soluciones medicinales en esta oportunidad queremos darle a conocer los múltiples beneficios de la planta Moringa Oleifera, también conocida como árbol milagroso debido a su alto contenido de proteínas, vitaminas, minerales y una cantidad excepcional de antioxidantes que le confieren cualidades sobresalientes en la nutrición y salud humana. Todas las estructuras del árbol tienen propiedades medicinales, pero las hojas, los frutos y las semillas merecen una atención especial,  puesto que se ha demostrado que sus componentes tienen una amplia aplicación para la prevención y el control de diversas enfermedades.</h4>
        </div>
      </div>
    </div>
    <div class="sec-03 ">
      <div class="foto-sec-3 w100 imgpc f02">
        <h1 class="cb  txtr w100 tnio sinm" style="margin:0; margin-right:20px;">¡Vive feliz, vive radiante!</h1>
      </div>
    </div>
    <div class="sec-04 bg4 f02">
      <div class="circulos-sec-03 f01">
        <div class="circulo-sec-03 f02">
          <div class="cont-foto-circulo">
            <img class="imgR" src="img/polvo.jpg" alt="">
          </div>
          <h1 class="c1 txtc">Hojas de moringa pulverizadas</h1>
        </div>
        <div class="circulo-sec-03 f02">
          <div class="cont-foto-circulo">
            <img class="imgR" src="img/triturada.jpg" alt="">
          </div>
          <h1 class="c1 txtc">Hojas de moringa trituradas</h1>
        </div>
        <div class="circulo-sec-03 f02">
          <div class="cont-foto-circulo">
            <img class="imgR" src="img/entera.jpg" alt="">
          </div>
          <h1 class="c1 txtc">Hojas de moringa enteras</h1>
        </div>
      </div>
    </div>
    <div class=" imgpc sec-05">
      <div class="titu-sec-05 ">
        <h1 class="cb txtc sinp p15 tnio2">Conoce la familia Moringa Life</h1>
      </div>
      <div class="linea-frascos f01">
        <div class="fra fra1"><img class="imgR" src="img/fmap.png" alt=""></div>
        <div class="fra fra2"><img class="imgR" src="img/MhojasE.png" alt=""></div>
        <div class="fra fra3"><img class="imgR" src="img/MhojasP.png" alt=""></div>
        <div class="fra fra4"><img class="imgR" src="img/MHT.png" alt=""></div>
        <div class="fra fra5"><img class="imgR" src="img/PHP.png" alt=""></div>
      </div>
    </div>
    <div class="sec-06 imgpc bg4">
      <h1 class="c1 txtc sinp p15 tnio2">Puntos de venta a nivel mundial</h1>
      <div class="frasco-f">
        <img class="imgR" src="img/fmap.png" alt="">
      </div>
    </div>

  </div>
</template>
