<template name="home">
  <div class="contenido-home">
    <div class="video h100">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ao70AgQI5wg" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="h100 bg4 p15 sec-02 imgpc f02">
      <div class="titu-m">
        <h1 class="c1">Moringa</h1>
        <h2 class="c1">oleifera</h2>
        <h4 class="c1">La madre naturaleza nos ha dotado de un sin fin de soluciones medicinales en esta oportunidad queremos darle a conocer la planta Moringa, también conocida como árbol Milagroso</h4>
      </div>
    </div>
    <div class="sec-03 ">
      <div class="foto-sec-3 w100 imgpc f02">
        <h1 class="cb  txtr w100 tnio sinm" style="margin:0; margin-right:20px;">¡Vive saludable!</h1>
      </div>
    </div>
    <div class="sec-04 bg4 f02">
      <div class="circulos-sec-03 f01">
        <div class="circulo-sec-03 f02">
          <div class="cont-foto-circulo">
            <img class="imgR" src="img/polvo.jpg" alt="">
          </div>
          <h1 class="c1 txtc">Hojas de Moringa Pulverizadas</h1>
        </div>
        <div class="circulo-sec-03 f02">
          <div class="cont-foto-circulo">
            <img class="imgR" src="img/triturada.jpg" alt="">
          </div>
          <h1 class="c1 txtc">Hojas de Moringa Trituradas</h1>
        </div>
        <div class="circulo-sec-03 f02">
          <div class="cont-foto-circulo">
            <img class="imgR" src="img/entera.jpg" alt="">
          </div>
          <h1 class="c1 txtc">Hojas de Moringa Enteras</h1>
        </div>
      </div>
    </div>
    <div class=" imgpc sec-05">
      <div class="titu-sec-05 ">
        <h1 class="cb txtc sinp p15 tnio2">Conoce la Familia Moringa Life</h1>
      </div>
    </div>
    <div class="sec-06 imgpc bg4">
      <h1 class="c1 txtc sinp p15 tnio2">Puntos de Venta a Nivel Mundial</h1>

    </div>
  </div>
</template>
