<template name="layout">
    <div class="">
        <div class="">
            {{> headerArea}}
        </div>
        <div id="centralArea" class="f01 contenedor-main">
            <div id="contentArea" class="contenedor " style="width:100%; min-height:60vh">

                <!-- yield template is managed by iron route manager.
                    From current route, content is selected (check route.js table) -->
                <div class="contenido">
                    {{> yield}}
                </div>

                <!-- end of iron router managed yield template -->
                <div class="">
                    {{> footerArea}}
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>

</template>
