<template name="registroSanitario">
  <div class="contenedor-g">
    <div class="mw">
    	<br>
    	<br>
    	<br>
    	<h1 class="bordv sinm sinp">Registro sanitario INVIMA</h1>
    	<p class="p15 txtl">
    		Rigiéndose a las regulaciones sanitarias de Colombia, la empresa Moringa Products S.A.S. ha sido certificada por el INVIMA con un registro sanitario que le permite la producción y comercialización de hojas de moringa oleifera para su uso como alimento. A continuación encontrará una versión digital, escaneada del certificado original en papel:
    	</p>
    	<div class="p15 w100">
    		<img src="img/RegistroInvima.jpg" alt="" class="imgR">
    	</div>
    	<br>
    	<p class="p15 txtl">
    		Debe tenerse en cuenta que las cápsulas que contienen moringa se distribuyen bajo la figura de FÓRMULA MAGISTRAL por medio de la comunidad médica. Esta presentación se encuentra en proceso de solicitud ante el INVIMA de una licencia de tipo “suplemento dietario”, y se encontrará próximamente disponible con adiciones nutricionales concentradas.
    	</p>
    	<br><br>
    </div>
  </div>
</template>
