<template name="restricciones">
  <div class="contenedor-g">
    <div class="mw">
    	<br>
    	<br>
    	<br>
    	<h1 class="bordv sinm sinp">Restricciones legales relacionadas con medicamentos, suplementos dietarios y fórmula magistral</h1>
    	<p class="p15 txtl">
    		Las regulaciones colombianas disponen que el INVIMA, como organismo regulador y de inspección, vigilancia y control, debe emitir licencias de funcionamiento para los alimentos, los alimentos funcionales, los suplementos dietarios, las bebidas energizantes, los elementos fitoterapéuticos y los medicamentos, entre otros productos para consumo humano. Las empresas que fabriquen, importen y comercialicen dichos productos, deben garantizar la seguridad e inocuidad de los alimentos, y en ese momento podrán distribuir sus productos. <br><br>
 
En el caso de la moringa en cápsulas, la empresa Moringa Products SAS se encuentra en proceso del trámite de una licencia de tipo SUPLEMENTO DIETARIO, que mientras no esté finalizado, restringe la distribución de este producto a una FÓRMULA MAGISTRAL. Dicha fórmula, se distribuye únicamente a través de una red de visitadores médicos y profesionales de la salud con licencia para prescribir el uso de dichas fórmulas, siempre y cuando asuman la responsabilidad legal de su uso en el público de una manera monitoreada.<br><br>
 
Si usted es médico o visitador médico y está interesado en obtener muestras, puede REGISTRARSE en el programa de FÓRMULAS MAGISTRALES de la empresa MORINGA PRODUCTS SAS. Si usted es un paciente interesado en contemplar la posibilidad de consumir este producto, solicite a su médico visitar este programa y que se ponga en contacto con nosotros.

    	</p>
    	<br>
    
    	<br><br>
    </div>
  </div>
</template>
