<template name="subirDePeso">
  <div class="contenedor-g">
    <div class="mw">
    <br>
    <br>
    <br>
      <div class="f02">
        <h1 class="sinp sinm bordv w100 mb15">Efectos medicinales de la moringa oleífera</h1>
      </div>
    <br><br>
    </div>
    <div class="w100 imgpc fot-art"></div> <!-- foto central -->
      <br>
    <div class="mw">
        <br>
        <p class="txtl">
        Como medicina tradicional, ha sido usada por indígenas del África Occidental
        y Dakar (Senegal), como estimulante en el cansancio crónico y para tratar
        a los pacientes con anemia.
        <br><br>
        Es muy popular para aumentar la producción de leche en madres lactantes y,
        de hecho, para prevenir la desnutrición en el niño; también sus flores,
        vainas y hojas son usadas como desparasitante.
        <br><br>
        En la India, donde tradicionalmente se usa, tiene los efectos siguientes:
        antihipertensivo, diurético, antidiarreico, ansiolítico, antidiabético y
        se emplea en pacientes con colitis y gonorrea.  En algunas partes de África,
        las vainas se utilizan como medicamento para potenciar la virilidad sexual
        y la disfunción eréctil en los hombres y para prolongar la actividad sexual
        en las mujeres.
        <br><br>
        Actualmente en muchas regiones de África, la moringa se usa de forma
        automedicada para tratar a pacientes con diabetes mellitus, hipertensión
        arterial y virus de la inmunodeficiencia humana/sida.
        <br><br>
        Los extractos de hojas acuosas regulan la hormona tiroidea y se puede
        utilizar para tratar el hipertiroidismo y muestran un efecto antioxidante.
        <br><br>
        Una infusión de jugo de la hoja ha demostrado reducir el azúcar en sangre
        en conejos, también ha demostrado tener un efecto terapéutico contra el
        virus del Herpes simple.
        <br><br>
        La Moringa Oleifera es un potente antiinflamatorio, estimulante en las
        aflicciones de parálisis; actúan como un tónico cardíaco / circulatorio,
        se utiliza como laxante, en el tratamiento para los dolores en las
        articulaciones, en los dolores de espalda baja  y el estreñimiento o el
        riñón, Purgante, aplicada como una cataplasma de llagas, se frota sobre
        la sien para los dolores de cabeza, se utilizan para las hemorroides,
        fiebre, dolor de garganta, bronquitis, infecciones del oído y el ojo,
        el escorbuto y el catarro;
        <br>
        La hoja: se cree que el jugo controla los niveles de glucosa en sangre,
        se utiliza para curar enfermedades de los ojos y para destruir los
        tumores y para curar las úlceras.
        <br><br>
        La corteza se pone en los oídos para curar los dolores de oído y también
        se coloca en una el diente como un analgésico, y tienen actividad contra
        la tuberculosis.
        <br><br>
        La Moringa Oleifera se utiliza para la caries dental es de alto valor
        medicinal como un estimulante, afrodisíaco, utilizado para curar inflamaciones,
        enfermedades musculares, sirve para bajar el colesterol en suero,triglicéridos.
        </p>
         <br><br>
         <p class="txt2 c3">Fuente
           <br><br>
           Bonal Ruiz Rolando, Rivera Odio Regina Mercedes, Bolívar Carrión María Emilia.
           Moringa oleifera: una opción saludable para el bienestar. MEDISAN  [Internet].
           2012  Oct [citado  2016  Mayo  29] ;  16( 10 ): 1596-1599.
           <br><br>
           ANWAR, Farooq, et al. Moringa oleifera: a food plant with multiple medicinal
           uses. Phytotherapy research, 2007, vol. 21, no 1, p. 17-25.
            </p>
        <br><br>
    </div>
  </div>
</template>
