<template name="tratamientoDiabeticos">
  <div class="contenedor-g">
    <div class="mw">
    <br>
    <br>
    <br>
    	<div class="f02">
    		<h1 class="sinp sinm bordv w100 mb15">Moringa y diabetes</h1>
    	</div>
		<br><br>
    </div>
    <div class="w100 imgpc fot-diabe"></div> <!-- foto central -->
    	<br>
    <div class="mw">
        <br>
        <p class="txtl">La diabetes mellitus es una enfermedad crónica frecuente
          en muchos países. Estilos de vida inadecuados, actividad física reducida
           y aumento de la obesidad contribuye al aumento del número de los pacientes
           con diabetes mellitus (1).
        <br><br>
        Esta enfermedad sigue siendo un problema de salud pública, que hasta ahora
         no hay tratamiento que deje efectos secundarios. Sigue siendo muy engorroso
         el tratamiento con insulina, ya que se tiene la necesidad de inyectarse dos
         o tres veces al día en sitios como abdomen, piernas, generando hematomas,
         y lesiones importante.
         <br><br>
         Existe un creciente interés en el uso potencial de plantas medicinales
          como un tratamiento alternativo para la diabetes ya que estas son comúnmente
           más barata, menos tóxicas y con menos efectos secundarios, por otro lado ya
            se ha venido investigando los efectos de la Moringa Oleifera en la salud,
             y se ha determinado que tiene numerosas funciones para combatir y prevenir
             enfermedades, esta planta proporciona una rica combinación de nutrientes,
              aminoácidos, antioxidantes, anti-envejecimiento y anti-inflamatorios y se
               emplea como medicamentos para una variedad de dolencias en particular en
                el sur de Asia y India. En este caso se ha reportado en varios estudios,
                 que la Moringa Oleifera ayuda a bajar los niveles de glucosa (azúcar)
                 en la sangre.
          <br><br>
          Un estudio publicado por la revista Journal of Diabetes indicó que la presencia
          del principio activo de Moringa oleifera puede potenciar la secreción de insulina,
           lo que disminuye los niveles de glucosa en suero en ratas diabéticas tratadas (2).
            Por otra parte en un estudio reportado por Moussa Ndong y colaboradores, de
            la moringa permite una absorción lenta de glucosa al organismo. Además de
            demostrar que la administración de Moringa disminuye la velocidad de vaciamiento
             gástrico como efecto anorexigénico (disminuyendo el apetito) y permitiendo una
             absorción postprandial (luego de las comidas) de glucosa (azúcar) más adecuado (3).
          <br><br>
          Moringa life es un producto completo para el tratamiento de la diabetes mellitus,
           porque cuenta con moringa que es un mega nutriente y tiene cualidades hipoglucemiantes,
            todo esto nos demuestra que esta opción que nos presenta Moringa life puede llegar a
            ser el camino para una solución adecuada de esta patología.
         </p>
         <br>
         <h3 class="sinm sinp txtl c5">Importante</h3>
         <br>
         <p class="txtl">-Interacciones medicamentosas y de otro género; Es importante
           recalcar que NO debe de suspender su tratamiento con
           hipoglucemiantes orales, o terapia insulínica. Siempre y cuando el
           médico lo autorice.
           <br><br>
           -Restricciones de uso durante el embarazo y lactancia. no se
           administre a embarazadas, consulte primero con su médico.
         </p>
         <br><br>
         <p class="txt2 c3">Fuente
           <br><br>
              1.YASSA, Hanan Dawood; TOHAMY, Adel Fathy. Extract of Moringa oleifera
              leaves ameliorates streptozotocin-induced Diabetes mellitus in adult rats.
              Acta histochemica, 2014, vol. 116, no 5, p. 844-854.
              <br>
              2.GUPTA, Rajnish, et al. Evaluation of antidiabetic and antioxidant
              activity of Moringa oleifera in experimental diabetes. Journal of Diabetes,
              2012, vol. 4, no 2, p. 164-171.
              <br>
              3.Moussa Ndong, et al. Effects of Oral Administration of Moringa Oleifera
              Lam on Glucose Tolerance in Goto-Kakizaki and Wistar Rats. Journal of Chemical
              iochemestry and Nutrition. 2006. Tokyo, Japan.
            </p>
        <br><br>
    </div>
  </div>
</template>
